@font-face {
  src: url("../fonts/Lato-Black.ttf");
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src: url("../fonts/Lato-Bold.ttf");
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Lato-Regular.ttf");
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Lato-Light.ttf");
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

footer {
  background-color: black;
  margin-top: auto;
  padding: 18px
}

header {
  background-color: #222;
  padding: 18px 0;
}

p {
  margin: 0;
  padding: 0;
}

.advantages {
  background: #222224;
  padding: 104px 0;

  &-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.arrivals {
  background: #F8F3F4;

  &__body {
    align-items: center;
    display: flex;
    height: 148px;
    justify-content: space-between;
  }

  &__header {
    color: #F16D7F;
    font-size: 24px;
    line-height: 29px;
  }
}

.breadcrumbs {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;

  &__item {
    display: inline;
  }

  &__item::after {
    padding: 3px;
    color: black;
    content: "/\00a0";
  }

  &__item--active {
    color: #F16D7F;
    font-weight: bold;
  }

  &__item--active::after {
    padding: 3px;
    content: none;
  }
}

.card {
  background: #F8F8F8;
  height: 580px;
  width: 360px;
  flex: 0 0 31%;

  &__img {
    margin-bottom: 25px;
  }

  &--margin-bottom {
    margin-bottom: 30px;
  }

  &__price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
  }

  &__text {
    margin-left: 18px;
    margin-right: 22px;
  }

  &__title {
    color: #000000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 13px;
  }

  &__subtitle {
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 18px;
  }
}

.email {
  display: flex;
  justify-content: center;

  &__input {
    background: #E1E1E1;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #222224;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    opacity: 0.67;
    padding: 15px 18px;
  }

  &__button {
    background: #F16D7F;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    font-size: 14px;
    line-height: 17px;
    padding: 15px 18px;
    text-decoration: none;
  }
}

.feature {
  width: 360px;
  text-align: center;

  &__img {
    margin-bottom: 28px;
  }

  &__subtitle {
    color: #FBFBFB;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
  }

  &__title {
    color: #FBFBFB;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
  }
}

.featured-items {
  margin-bottom: 95px;

  &__paragraph {
    text-align: center;
  }

  &__subtitle {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 47px;
  }

  &__title {
    color: #222222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;

  }
}

.feedback {
  background: url("../img/feedback/photo.png") no-repeat center;
  background-size: 100% 100%;

  &-wrap {
    display: flex;
    flex-direction: row;
    height: 448px;
    justify-content: space-between;
  }

  &__left-side {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 126px;
    padding-top: 97px;
    text-align: center;
    width: 100%;
  }

  &__right-side {
    width: 100%;
    padding: 150px 0 150px 117px;
  }
}

.filters {
  &__body {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 132px;
  }

  &__column {
    flex: 0 0 32%;
  }
}

.footer {
  &-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
  }

  &__button {
    background: #FFFFFF;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__copyright {
    color: #FBFBFB;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
  }

  &__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 148px;
  }

}

.greeting {
  width: 360px;

  &__face {
    margin-bottom: 30px;
  }

  &__info {
    line-height: 24px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
}

.header {
  &-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__logo-link {
    margin-right: 41px;
  }

  &__account-link {
    margin: 0 33px;
  }
}

.item {
  background: rgba(33, 22, 22, 0.7);
  display: flex;
  height: 260px;
  min-width: 360px;

  &__bottom {
    background-image: url(../img/catalog/accesories.png);
    height: 180px;
  }

  &__first {
    background-image: url(../img/catalog/women.png);
  }

  &__second {
    background-image: url(../img/catalog/men.png);
  }

  &__third {
    background-image: url(../img/catalog/child.png);
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__title-top {
    color: white;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
  }

  &__title-bottom {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
  }

  &--center {
    justify-content: center;
    text-align: center;
  }
}

.items {
  margin-bottom: 96px;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}

.product-card {
  margin-bottom: 128px;

  &__add-btn {
    align-items: center;
    border: 1px solid #F26376;
    display: flex;
    justify-content: center;
    padding: 15px 0 9px 24px;
  }

  &__basket {
    margin-right: 22px;
  }

  &__category {
    color: #F16D7F;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 12px;
  }

  &__container {
    align-items: center;
    background: white;
    bottom: 64px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    height: 601px;
    position: relative;
    z-index: 1;
  }

  &__description {
    color: #5E5E5E;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    margin-bottom: 32px;
    text-align: center;
  }

  &__info {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 66px;
    margin-top: 65px;
    width: 642px;
    border-bottom: 1px solid #e3b6b6;
  }

  &__line {
    background: #EF5B70;
    height: 3px;
    margin-bottom: 12px;
    width: 63px;
  }

  &__link {
    color: #F26376;
    text-decoration: none;
    margin-right: 57px;
  }

  &__price {
    color: #EF5B70;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 29px;
    margin-bottom: 64px;
  }


  &__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 48px;
  }
}

.products {
  &__button {
    padding: 14px 39px;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__link {
    color: #F16D7F;
    border: 1px #F16D7F solid;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 14px 39px;
    line-height: 19px;
    text-decoration: none;
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }
}

.paginator {
  border: 1px solid #EBEBEB;

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
  }

  &__btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.promo {
  background-color: #F1E4E6;

  &__brand {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 57.6px;
  }

  &__luxurious {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38.4px;
  }

  &__left {
    width: 50%;
  }

  &__right {
    width: 50%;
  }

  &__title {
    border-left: 15px solid #F16D7F;
    margin: 289px 0 0 64px;
    padding-left: 16px;
  }

  &__title-top {
    font-size: 32px;
    font-weight: 700;
  }

  &__title-bottom {
    font-size: 22px;
  }

  &__title--pink {
    color: #F16D7F;
  }

  &-wrap {
    background-image: url(../img/header/promo-bg.png);
    background-repeat: no-repeat;
    background-position: -226px bottom;
    display: flex;
    height: 764px;
    justify-content: space-between;
  }

  &--margin-bottom {
    margin-bottom: 65px;
  }
}

.slider {
  background-color: #F7F7F7;

  &__container {
    display: flex;
    height: 777px;
    justify-content: center;
  }

  &__photo {

  }
}

.sort {
  color: #6F6E6E;
  display: flex;

  &__item {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    margin-right: 28px;
  }

  &--margin-bottom {
    margin-bottom: 48px;
  }
}

.subscribe {
  text-align: center;

  &__subtitle {
    color: #222224;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
  }

  &__title {
    color: #222224;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
}

.wrap {
  margin: 0 auto;
  width: 1140px;
}
