@charset "UTF-8";
@font-face {
  src: url("../fonts/Lato-Black.ttf");
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
}
@font-face {
  src: url("../fonts/Lato-Bold.ttf");
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
}
@font-face {
  src: url("../fonts/Lato-Regular.ttf");
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  src: url("../fonts/Lato-Light.ttf");
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
}
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Lato", sans-serif;
}

footer {
  background-color: black;
  margin-top: auto;
  padding: 18px;
}

header {
  background-color: #222;
  padding: 18px 0;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.advantages {
  background: #222224;
  padding: 104px 0;
}
.advantages__column {
  width: 360px;
  text-align: center;
}
.advantages__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.advantages__img {
  margin-bottom: 28px;
}
.advantages__subtitle {
  color: #FBFBFB;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}
.advantages__title {
  color: #FBFBFB;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 16px;
}

.arrivals {
  background: #F8F3F4;
}
.arrivals__body {
  align-items: center;
  display: flex;
  height: 148px;
  justify-content: space-between;
}
.arrivals__breadcrumbs {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.arrivals__header {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
}
.arrivals__item {
  display: inline;
}
.arrivals__item::after {
  padding: 3px;
  color: black;
  content: "/ ";
}
.arrivals__item--active {
  color: #F16D7F;
  font-weight: 700;
}
.arrivals__item--active::after {
  content: none;
  padding: 3px;
}
.arrivals--shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card {
  background: #F8F8F8;
  height: 580px;
  width: 360px;
  flex: 0 0 31%;
}
.card__img {
  margin-bottom: 25px;
}
.card--margin-bottom {
  margin-bottom: 30px;
}
.card__price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
.card__text {
  margin-left: 18px;
  margin-right: 22px;
}
.card__title {
  color: #000000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 13px;
}
.card__subtitle {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  margin-bottom: 18px;
}

.cart__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 96px 0 129px;
}
.cart__btn {
  border: 1px solid #A4A4A4;
  color: #000000;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  padding: 16px 39px;
}
.cart__btn-checkout {
  background: #F16D7F;
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  padding: 15px 41px;
}
.cart__btn-quote {
  background-color: #fff;
  border: 1px solid #A4A4A4;
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: 13px;
  padding: 11px 15px;
}
.cart__buttons {
  display: flex;
  justify-content: space-between;
}
.cart__checkout {
  background: #F5F3F3;
  padding: 39px 44px 42px;
}
.cart__checkout-hr {
  background: #E2E2E2;
  height: 1px;
  margin-bottom: 17px;
}
.cart__checkout-subtitle {
  color: #222222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 21px;
  text-align: right;
}
.cart__checkout-subtitle--colored {
  color: #F16D7F;
}
.cart__checkout-title {
  color: #4A4A4A;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  line-height: 13px;
  margin-bottom: 12px;
  text-align: right;
}
.cart__colored {
  color: #F16D7F;
}
.cart__country {
  color: #B1B1B1;
}
.cart__description {
  display: flex;
  justify-content: space-between;
  margin: 22px 22px 0 30px;
}
.cart__form {
  margin-bottom: 57px;
}
.cart__form-input {
  border: 1px solid #A4A4A4;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  margin-bottom: 20px;
  padding: 14px 17px;
  width: 323px;
}
.cart__form-title {
  color: #222222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px;
  margin-bottom: 20px;
}
.cart__input {
  border: 1px solid #EAEAEA;
}
.cart__item {
  background-color: #FFFFFF;
  display: flex;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}
.cart__purchases {
  width: 652px;
}
.cart__right-side {
  width: 360px;
}
.cart__row {
  margin-bottom: 6px;
}
.cart__row--last {
  display: inline-block;
  margin-bottom: 0;
}
.cart__specification {
  color: #575757;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}
.cart__title {
  color: #222222;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  line-height: 29px;
  margin-bottom: 42px;
}
.cart--item-last {
  margin-bottom: 72px;
}
.cart--margined-bottom {
  margin-bottom: 40px;
}

.categories {
  margin-bottom: 96px;
}
.categories__card {
  align-items: center;
  background: rgba(33, 22, 22, 0.7);
  display: flex;
  height: 260px;
  justify-content: center;
  width: 360px;
}
.categories__bottom-card {
  background-image: url(../img/categories/accesories.png);
  height: 180px;
  min-width: 100%;
}
.categories__first-card {
  background-image: url(../img/categories/women.png);
}
.categories__second-card {
  background-image: url(../img/categories/men.png);
}
.categories__third-card {
  background-image: url(../img/categories/child.png);
}
.categories__title {
  text-align: center;
}
.categories__title-top {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
.categories__title-bottom {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
}
.categories__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.feedback {
  background: url("../img/feedback/photo.png") no-repeat center;
  background-size: 100% 100%;
}
.feedback__body {
  display: flex;
  flex-direction: row;
  height: 448px;
  justify-content: space-between;
}
.feedback__button {
  background: #F16D7F;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 18px;
}
.feedback__face {
  margin-bottom: 30px;
}
.feedback__form {
  display: flex;
  justify-content: center;
}
.feedback__info {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.feedback__input {
  background: #E1E1E1;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  color: #222224;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  opacity: 0.67;
  padding: 15px 18px;
}
.feedback__left-side {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 126px;
  padding-top: 97px;
  text-align: center;
  width: 100%;
}
.feedback__right-side {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 0 150px 117px;
  width: 100%;
}
.feedback__subtitle {
  color: #222224;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}
.feedback__title {
  color: #222224;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.featured-items {
  margin-bottom: 95px;
}
.featured-items__paragraph {
  text-align: center;
}
.featured-items__subtitle {
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 47px;
}
.featured-items__title {
  color: #222222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.filters__body {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 132px;
}
.filters__column {
  flex: 0 0 32%;
}

.footer__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
.footer__button {
  background: #FFFFFF;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__copyright {
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
}
.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 148px;
}

.header__body {
  display: flex;
  justify-content: space-between;
}
.header__link--margined {
  margin: 0 33px;
}
.header__logo {
  margin-right: 41px;
}

.product-card {
  margin-bottom: 128px;
}
.product-card__add-btn {
  align-items: center;
  border: 1px solid #F16D7F;
  display: flex;
  justify-content: center;
  padding: 15px 0 9px 24px;
}
.product-card__basket {
  margin-right: 22px;
}
.product-card__body {
  align-items: center;
  background: white;
  bottom: 64px;
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  display: flex;
  flex-direction: column;
  height: 601px;
  position: relative;
  z-index: 1;
}
.product-card__category {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  margin-bottom: 12px;
}
.product-card__description {
  color: #5E5E5E;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
  margin-bottom: 32px;
  text-align: center;
}
.product-card__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 66px;
  margin-top: 65px;
  width: 642px;
  border-bottom: 1px solid #e3b6b6;
}
.product-card__line {
  background: #F16D7F;
  height: 3px;
  margin-bottom: 12px;
  width: 63px;
}
.product-card__link {
  color: #F16D7F;
  text-decoration: none;
  margin-right: 57px;
}
.product-card__price {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  margin-bottom: 64px;
}
.product-card__title {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 48px;
}

.products__button {
  padding: 14px 39px;
  text-align: center;
}
.products__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}
.products__link {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 14px 39px;
  line-height: 19px;
  text-decoration: none;
}
.products__pagination {
  display: flex;
  justify-content: center;
}

.paginator {
  border: 1px solid #EBEBEB;
}
.paginator__btn {
  color: #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
}
.paginator__btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo {
  background-color: #F1E4E6;
}
.promo__body {
  background-image: url(../img/promo/promo-bg.png);
  background-repeat: no-repeat;
  background-position: -226px bottom;
  display: flex;
  height: 764px;
}
.promo__brand {
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 57.6px;
}
.promo__luxurious {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38.4px;
}
.promo__left {
  width: 50%;
}
.promo__right {
  width: 50%;
}
.promo__title {
  border-left: 15px solid #F16D7F;
  margin: 289px 0 0 64px;
  padding-left: 16px;
}
.promo__title-top {
  font-size: 32px;
  font-weight: 700;
}
.promo__title-bottom {
  font-size: 22px;
}
.promo__title--pink {
  color: #F16D7F;
}
.promo--margin-bottom {
  margin-bottom: 65px;
}

.slider {
  background-color: #F7F7F7;
}
.slider__container {
  display: flex;
  height: 777px;
  justify-content: center;
}

.sort {
  color: #6F6E6E;
  display: flex;
}
.sort__item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  margin-right: 28px;
}
.sort--margin-bottom {
  margin-bottom: 48px;
}

/*# sourceMappingURL=style.css.map */
